# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environments
.env
.env.local
.env.*.local

# Docker
.docker/

# Databases
*.db
*.sqlite

# E2E
e2e/node_modules/
e2e/test-results/
e2e/playwright-report/
